.git-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.bell-logo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    right: 10px;
}

.plus-logo {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.user-logo {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.container {
    position: relative;
    left: 10rem;
}

.dropbox {
    display: flex;
    position: relative;
    right: 150px;
}
